
a
    text-decoration: none
    color: white
    &:focus
        outline: none

.container
    background-color: #3eaaf5
    height: calc(100vh - 91px)
    display: flex
    justify-content: center
    align-items: center

.wrapper
    max-width: 1000px
    width: 600px
    margin: 0 auto
    text-align: center
    padding: 10px 20px 30px
    h1
        color: white
        font-size: 32px
        font-weight: 600
        letter-spacing: 0px
        padding-bottom: 20px

.loginInput
    padding: 20px 20px
    border-radius: 5px
    margin: 10px 0
    border-style: none

.loginForm
    display: flex
    flex-direction: column
    width: 100%

.checkContainer
    display: flex
    justify-content: space-between
    padding: 20px 0
    label
        padding-left: 10px

.submitBtn
    background-color: #28d2d0
    color: white
    padding: 20px 20px
    border-radius: 5px
    border-style: none
    text-transform: uppercase
    font-weight: 600

.isInvalids
    border: 3px solid red

.isValids
    border: 3px solid green

.inpError
    position: relative
    font-size: 12px
    font-weight: 700
    color: red
    &:before
        content: url('./tringle.svg')
        position: absolute
        top: -54px
        right: 29px
